a {
    text-decoration: none;
}

.link {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.header {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.smallHeader {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.image {
    border: 1px #616063 solid;
    border-radius: 10px;
    width: 200px;
}

.title {
    color: rgb(58, 51, 205);
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
}

.list {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #976e68;
}